img{
    border: 0;
}
//主页面
.fm_main{
    width: 100%;
//  display: none;
    //头部
    .fm_head{
        width: 100%;
        height: 1.34rem;
        background: #fff;
        h2{
            display: inline-block;
            width: 9.43rem;
            height: 0.53rem;
    //      margin-top: 0.405rem;           //文字偏移?     解决方案:将文字和背景都用span包裹,都加vertical-align: middle;
            margin-top: 0.305rem;
            margin-left:0.56rem ;
            font-size: 0.43rem;
            line-height: 0.5rem;
            .fm_head_span{
                display: inline-block;
                width: 0.53rem;
                height: 0.53rem;
                background: url(../images/fm/01_03.png) no-repeat;
                background-size:100% ;
                vertical-align: middle;
            }
            .fm_head_span2{
                display: inline-block;
                vertical-align: middle;
                margin-left: 0.16rem;
            }
    
        }
    }
    //log
    .fm_log{
        width: 100%;
        height: 2.78rem;
        background: url(../images/fm/01_06.png) no-repeat;
        background-size:100% ;
    }
    //栏目推荐以及直播电台横栏
    .fm_programa{
        width: 100%;
        height: 1.48rem;
        border-bottom: 1px solid #ccc;
        background: #fff;
        span{
            display: inline-block;
            vertical-align: middle;
        }
        h5{
            display: inline-block;
            width: 9.56rem;
            height: 0.528rem;
            margin-top: 0.476rem;
            line-height: 0.528rem;
            .fm_programa_left{
                width: 0.056rem;
                height: 0.528rem;
                background: url(../images/fm/01_09.png) no-repeat;
                background-size:100% ;
                margin-left: 0.278rem;
            }
            .fm_programa_writ{
                margin-left: 0.3rem;
            }
            a{
                display: inline-block;
                float: right;
                width: 1.3rem;
                height: 100%;
                color: #999;
                .fm_programa_ar{
                    float: right;
                    font-size: 0.53rem;
                    color: #cdcdcd;
                }
            }
        }
        
    }
    //栏目推荐列表
    .fm_programaList{
        background: #fff;
        width: 100%;
        height: 8.63rem;
        ul{
            padding-top: 0.32rem;
            margin-left: 0.1574rem;
            li{
                float: left;
                margin-right: 0.1852rem;
    //          margin-bottom: 0.59rem;
                width: 4.7361rem;
                height: 3.83rem;
                a{
                    display: inline-block;
                    width: 4.722rem;
                    height: 2.96rem;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                p{
                    height: 0.83rem;
                    line-height: 0.83rem;
                    text-indent: 0.1rem;
                }
            }
            li:nth-child(1),li:nth-child(2){
                margin-bottom: 0.59rem;
            }
        }  
    }
    //直播电台列表
    .fm_radio{
        width: 100%;
        background: #fff;
        height: 10.149rem;
        .fm_radio_ul{
            margin-left: 0.4rem;
            li{
                text-align: center;
                float: left;
                width: 2.72rem;
                height: 3.185rem;
                margin:0.148rem 0.05rem 0.05rem 0.3rem;
                a{
                    display: inline-block;
                    width: 2.194rem;
                    height: 2.194rem;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                p{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow:ellipsis ;
                    height: 0.5rem;
                    font-size: 0.3rem;
                    text-align: left;
                }
                span{
                    display: inline-block;
                    height: 0.37rem;
                    font-size: 0.315rem;
                    vertical-align: top;
                    text-align: left;
                    width: 100%;
                }
            }   
        }
    }
    //空白区域
    .fm_space{
        width: 100%;
        height: 1.7rem;
        background: #fff;
    }
}

//栏目推荐更多页面
.fm_programa_more{
//  display: none;
    width: 100%;
    background: #fff;
    .fm_programa_mH5{
        width: 100%;
        height: 135/108rem;
        border-bottom: 1px solid #cccccc;
        text-align: center;
        h5{
            display: inline-block;      //margin偏移父元素问题:将元素display打成inline-block
            height: 79/108rem;
            width: 9.074rem;
            padding-top: 28/108rem;
            line-height: 79/108rem;
            color: #da1620;
            span{
                float: left;
                font-size: 1rem;
                font-weight: normal;
                line-height: 0.55rem;
            }
        }
    }
    .fm_programa_mPic{
        width: 100%;
       
        .fm_programa_mUl{
            width: 9.852rem;
            padding-left: 0.148rem;
            li{
                background: #fff;
                float: left;
                width: 4.72rem;
                height: 3.83rem;
                padding:0.352rem 0.206rem  0.28rem 0;
                a{
                    display: inline-block;
                    width: 100%;
                    height: 2.94rem;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                
                p{
                    text-indent: 0.17rem;
                    padding-top: 0.25rem;
                }
            }
        }
    }
}

//直播电台更多页面
.fm_radio_more{
//  display: none;
    width: 100%;
    background: #fff;
    z-index: 1;
    position: fixed;        //不定位不能盖住?? Z-index 仅能在定位元素上奏效
    top: 0;
    left: 0;
    .fm_radio_mH5{
        width: 100%;
        height: 135/108rem;
        border-bottom: 1px solid #cccccc;
        text-align: center;
        h5{
            display: inline-block;      //margin偏移父元素问题:将元素display打成inline-block
            height: 79/108rem;
            width: 9.074rem;
            padding-top: 28/108rem;
            line-height: 79/108rem;
            color: #da1620;
            span{
                float: left;
                font-size: 1rem;
                font-weight: normal;
                line-height: 0.55rem;
            }
        }
    }
    //直播电台列表
    .fm_radiom_m{
        width: 100%;
        .fm_radio_mUl{
            padding-left: 0.4rem;
            li{
                text-align: center;
                float: left;
                width: 2.72rem;
                height: 3.185rem;
                padding:0.148rem 0.05rem 0.05rem 0.3rem;
                a{
                    display: inline-block;
                    width: 2.194rem;
                    height: 2.194rem;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                p{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow:ellipsis ;
                    height: 0.5rem;
                    font-size: 0.3rem;
                    text-align: left;
                }
                span{
                    display: inline-block;
                    height: 0.37rem;
                    font-size: 0.315rem;
                    vertical-align: top;
                    text-align: left;
                    width: 100%;
                }
            }   
        }
    }
}
