<div class="fm_head">
	<h2><span class="fm_head_span"></span><span class="fm_head_span2">荔枝新闻</span></h2>
</div>
<div class="fm_log">
	
</div>
<div class="fm_programa">
	<h5>
		<span class="fm_programa_left"></span>
		<span class="fm_programa_writ">栏目推荐</span>
		<a href="#/"><span class="fm_programa_al">更多</span><span class="fm_programa_ar">></span></a>
	</h5>
</div>
<div class="fm_programaList">
	<ul>
		<li class="fm_programaList_news"><img src="./img/02_03.png"/><p>新闻早高峰</p></li>
		<li class="fm_programaList_sun"><img src="./img/02_05.png"/><p>阳光倾城</p></li>
		<li class="fm_programaList_man"><img src="./img/02_09.png"/><p>男生宿舍</p></li>
		<li class="fm_programaList_comment"><img src="./img/02_10.png"/><p>新闻评弹</p></li>
	</ul>
</div>
<div class="fm_programa">
	<h5>
		<span class="fm_programa_left"></span>
		<span class="fm_programa_writ">直播电台</span>
		<a href="#/"><span class="fm_programa_al">更多</span><span class="fm_programa_ar">></span></a>
	</h5>
</div>
<div class="fm_radio">
	<ul class="fm_radio_ul"  ng-repeat="x in data.Data">
		<li>
			<img src=  {{x.Photo}} />
			<p>{{x.Title}}</p>
			<span>{{x.EpgName}}</span>
		</li>
	</ul>
</div>
<div class="fm_space">
	
</div>