<div class="homePage">
	<div class="box">
		<div class="title">
			<div  id="homeTitle" class="hd title-wrapper swiper-nav swiper-container">
					<li class="title-item" ng-click="showPage(x)" ng-repeat="x in titleList">
						{{x}}
					</li>
			</div>
		</div>
		<div id="bd">
		<div class="tapContainer swiper-container" id="tapContainer">
			<div class="pageview swiper-slider">
				<div class="whitePage" ng-if="!page1"></div>
				<div class="banner" ng-if="page1.Data.Banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div>
			
		</div>
		</div>
	</div>
	

</div>