<div class="homePage">
	<div class="box">
		<div class="title">
			
			
			<div class="zhuanti-wrap">
				<button ng-click='FN()'>sss</button>
			 	<div class="zhuanti-content1">
			 		<p></p>
			 	</div>
			 	<div class="wrap-24">
			 		<div class="zhuanti-content2">
				 		<p></p>
				 	</div>
				 	<div class="zhuanti-content4">
				 		<p></p>
				 	</div>
			 	</div>
			 	<div class="wrap-35">
			 		<div class="zhuanti-content3">
				 		<p></p>
				 	</div>
				 	<div class="zhuanti-content5">
				 		<p></p>
				 	</div>
			 	</div>
			 	<div class="zhuanti-content6">
			 		<p></p>
			 	</div>
		 	</div>
			
			
			
			
			
			
		</div>
	</div>
	
</div>