<!--<style type="text/css">
	.cleanFix:after{
		width: 0;
		height: 0;
		content: "";
		font-size: 0;
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
	}
	.big-imgDiv{
		box-sizing: border-box;
		width: 100%;
		background: #FFFFFF;
		padding: 0.225rem;
	}
	.bigImg{
		width: 100%;
		border-image: none;
		margin-top: 0.225rem;
	}
	.big-imgDiv section span{
		border: 1px solid #DE4D43;
		border-radius: 3px;
		color: #DE4D43;
		font-size: 0.2rem;
		padding:0 0.18rem;
	}
	.font-normal{
		display: inline-block;
		font-family: "微软雅黑";
		font-weight: normal;
		color: #363636;
		font-size: 0.4rem;
		margin-left: 0.18rem;
	}
	.big-imgDiv p{
		color: #999999;
		padding: 0.114rem;
	}
</style>

<style type="text/css">
	.three-imgDiv{
		width: 100%;
		background: #FFFFFF;
		padding: 0.225rem;
		box-sizing: border-box;
	}
	.three-imgDiv img{
		width: 100%;
		border-image: none;
	}
	.img-outDiv{
		position: relative;
		width: 100%;
		background: red;
	}
	.Photo-bigImg{
		float: left;
	}
	.Photo-right{
		float: right;
	}
	.Photo-bigImg img{
		display: block;
		width: 6.25rem;
	}
	.Photo-right img{
		display: block;
		width: 2.9rem;
	}
	.Photo-right img:last-child{
		margin-top: 0.15rem;
	}
	.three-imgDiv p{
		color: #363636;
		margin-top: 0.114rem;
	}
</style>-->


<div class="homePage">
	<div class="box">
		<div class="title">
			<div class="title-wrapper">
				<span class="title-item" ng-click="showPage(x)" ng-repeat="x in titleList">
					{{x}}
				</span>
			</div>
		</div>
		<div class="tapContainer">
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>
						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>
						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>
						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview">
				<div class="banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>

						
					</div>
				</div>
			</div> -->
			<!-- <div class="pageview"></div> -->
			<!-- <div class="pageview"></div> -->
			<div class="pageview">
				<div class="banner" ng-if="page1.Data.Banner">
					<img ng-src="{{page1.Data.Banner.Photo}}">
				</div>
				<div class="headPics">
					<div class="imgWrapper">
						<img ng-repeat="x in page1.Data.HeadPics"
						 ng-src="{{x.Data.Photo}}">
					</div>
					<div class="list-item" ng-repeat="x in page1.Data.List">
						<div class="{{x.Data.Class}}" ng-if="x.myType == 1 || x.myType == 2">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>{{x.Data.Title}}</p>
								<span class="source">{{x.Data.Source}}</span>
								<span class="Foot" ng-if="x.Data.Footer">{{x.Data.Footer}}</span>
							</div>
							<span class="play glyphicon glyphicon-play" ng-if="x.Data.HaveVideo"></span>

						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==3">
							<section>
								<span class="active">{{x.Data.Footer}}</span>
								<h4 class="font-normal">{{x.Data.Title}}</h4>
							</section>
							<img class="bigImg" ng-src="{{x.Data.Photo}}" />
							<p>{{x.Data.Summary}}</p>
						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==4">
							<div class="Photo-bigImg">
								<img ng-src="{{x.Data.Photo}}"/>
							</div>
							<div class="Photo-right">
								<img ng-src="{{x.Data.Photo_s1}}"/>
								<img ng-src="{{x.Data.Photo_s2}}"/>
							</div>
							<div class="info-brief"><p class="brief-desc">{{x.Data.Title}}</p>
							<span class="icon-pic glyphicon glyphicon-picture"></span>
							</div>
						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType==5">
							<div class="Photo-bigImg">
								<img ng-src="{{x.Data.Photo}}"/>
							</div>
							<div class="info-brief"><p class="brief-desc">{{x.Data.Title}}</p>
							<span class="icon-pic glyphicon glyphicon-picture"></span>
							</div>
						</div>
						<div class="{{x.Data.Class}}" ng-if="x.myType == 6">
							<img ng-src="{{x.Data.Photo}}">
							<div class="desc">
								<p>谣言: {{x.Data.Title}}</p>
								<p><span class="active">真相</span>: {{x.Data.SubTitle}}</p>
							</div>

						</div>
						<div class="{{x.D}}"></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!--<div class="big-imgDiv">
		<section>
			<span>活动</span>
			<h4 class="font-normal">江苏广电主持人“金荔枝”奖投票开始啦！</h4>
		</section>
		<img class="bigImg" src="http://static.jstv.com/img/2016/9/22/20169221474509766167_14507.jpg" alt="" />
		<p>每人每天可投三次，每次不超过20人。</p>
	</div>
	<div class="three-imgDiv">
		<div class="img-outDiv">
			<div class="Photo-bigImg">
				<img src="http://static.jstv.com/img/2016/9/23/20169231474587811957_14505.jpg"/>
			</div>
			<div class="Photo-right">
				<img src="http://static.jstv.com/img/2016/9/23/20169231474587816967_14505.jpg"/>
				<img src="http://static.jstv.com/img/2016/9/23/20169231474587820807_14505.jpg"/>
			</div>
		</div>
		<div class="cleanFix"></div>
		<p>长沙流浪汉活得有尊严 衣被叠成“豆腐块”</p>
	</div>-->
</div>