<!--<link type="text/css" rel="stylesheet" href="css/video.css" />-->

<div id="leftTabBox" class="video tabBox">
	<div class="hd toolbar">
		<ul>
			<li>江苏卫视</li>
			<li>公共新闻</li>
			<li>城市频道</li>
			<li>教育频道</li>
		</ul>
	</div>

	<div class="bd">
		<div class="jstv">
			<a class="jsxsk" href="http://v.jstv.com/wap/jsxsk/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/20160922115121_03.jpg"></img>
				<p>江苏新时空</p>
			</a>
			<a class="xwy" href="http://v.jstv.com/wap/xwy/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/20160922115121_05.jpg"></img>
				<p>新闻眼</p>
			</a>
			<a class="wjxw" href="http://v.jstv.com/wap/wjxw/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/20160922115121_09.jpg"></img>
				<p>晚间新闻</p>
			</a>
		</div>
		<div class="ggxw">
			<a class="zajs" href="http://v.jstv.com/wap/zajs/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/20160922152006_03.jpg"></img>
				<p>早安江苏</p>
			</a>
			<a class="xwkjz" href="http://v.jstv.com/wap/xwkjz/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/20160922152006_05.jpg"></img>
				<p>新闻空间站</p>
			</a>
			<a class="xw360" href="http://v.jstv.com/wap/xw360/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/20160922152006_09.jpg"></img>
				<p>新闻360</p>
			</a>
			<a class="ttx" href="http://v.jstv.com/wap/ttx/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/20160922152006_10.jpg"></img>
				<p>通天下</p>
			</a>
			<a class="pxel" href="http://v.jstv.com/wap/pxel/?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/20160922152006_13.jpg"></img>
				<p>评新而论</p>
			</a>
			<a class="zfrx" href="http://v.jstv.com/wap/zfrx/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/20160922152006_14.jpg"></img>
				<p>政风热线</p>
			</a>
		</div>
		<div class="cspd">
			<a class="ttsph" href="http://v.jstv.com/wap/ttsph/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/Q20160922153850_03.jpg"></img>
				<p>天天视频汇</p>
			</a>
			<a class="fzjjh" href="http://v.jstv.com/wap/fzjjh/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/Q20160922153850_05.jpg"></img>
				<p>法治集结号</p>
			</a>
			<a class="ljl" href="http://v.jstv.com/wap/ljl/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/Q20160922153850_09.jpg"></img>
				<p>零距离</p>
			</a>
		</div>
		<div class="jypd">
			<a class="qnjs" href="http://v.jstv.com/wap/qnjs/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/20160922153857_03.jpg"></img>
				<p>青年江苏</p>
			</a>
			<a class="jsjyxw" href="http://v.jstv.com/wap/jsjyxw/list.shtml?Islichinewsapp=1">
				<img class="img-bgd" src="imgs/video/20160922153857_05.jpg"></img>
				<p>江苏教育新闻</p>
			</a>
		</div>

	</div>
	
</div>
